h3 {
    text-align: center;
    padding: 3% 0 10px 0;
    color: rgb(196, 26, 111);
}

.container-view {
    margin: 10px 10% 10% 10%;
}

.header {
    margin-top: 20px;
    border: 2px solid black;
    border-radius: 5px;
}

.patient {
    margin-bottom: 20px;
}

.patientBtn {
    margin-left: 10px;
}

.header-consult {
    /* margin: 10% 10% 10% 0; */
    align-items: center;
    text-align: center;
    border: 2px solid white;
    border-radius: 5px;
    padding: 15px;
}

.conName {
    position: relative;
}

.form-consult {
    text-align: left;
    border: 2px solid black;
    border-radius: 5px;
    padding: 15px;
}